name: lint

env:
  # skip playwright binary install
  PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: '1'

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: install pnpm
        uses: pnpm/action-setup@v3
      - name: setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'
          cache: pnpm
      - name: Install deps
        run: pnpm install

      - name: Run lint
        run: pnpm run lint

      - name: Run format
        run: pnpm prettier --check .

      - name: Run type check
        run: pnpm run type-check
